/*
 * It is advised not to edit the smartadmin_production.css
 * as this will override any changes you make in the
 * later versions of this theme.
 *
 * We advise that you use use this CSS to override
 * SmartAdmin styles.
 *
 * Rename the stylesheet to whatever your liking so it will stay
 * unique to you with each update of SmartAdmin.
 */


/*
 * INDEX
 *
 * - HTML
 * - BODY
 * - CUSTOM STYLES
 */

/*
* PALETTE
* GREEN BASE : #5CAA81
*/
/*
* OWN BG
*/
.bg-color-blueMiranda {
  /*background-color: #616471 !important;*/
}

.navbar-nav.bg-color-blueMiranda {
  margin: -1px;
}

.navbar-nav.bg-color-blueMiranda >  li {
  padding-right: 2px;
  min-width: 190px;
}

.navbar-nav.bg-color-blueMiranda >  li:first-child {
  margin-left: 4px;
}

.navbar-nav.bg-color-blueMiranda > li a {
    background-color: transparent;
    color: #AFAFAF;
}

.navbar-nav.bg-color-blueMiranda >  li a:hover {
  background-color: #CACACA !important;
  color: white;
}

.navbar-nav.bg-color-blueMiranda >  li a:focus {
  background-color: #616471 !important;
}

/*.navbar-nav.bg-color-blueMiranda > li.active a {
  background-color: #FFFFFF !important;
  color: #DA4A4A;
  border-top: solid 1px #CACACA;
  border-left: solid 1px #CACACA;
  border-right: solid 1px #CACACA;
  margin-bottom: 0px;
  padding-bottom: 19px;
  margin-top: -4px;
}*/

.navbar-nav.bg-color-blueMiranda > li.active a {
  /*border-radius: 6px 6px 0 0;*/
  background-color: #FFFFFF !important;
  color: #DA4A4A;
  border-top: solid 1px #CACACA;
  border-left: solid 1px #CACACA;
  border-right: solid 1px #CACACA;
  /*margin-bottom: 0px;*/
  /*padding-bottom: 7px;*/
  /*margin-top: 5px;*/
  /*padding: 10px 10px 16px 10px;*/
}

.navbar-nav {
    float: left;
    margin-left: 0px!important;
}

/*
*
*/
.dropdown-menu-large.drop-down-dumago {
    margin-left: 0;
    margin-right: 0;
    padding: 20px 10px;
    width: 100%;
}
/*
* NOTES
*/
.notes-container {
  background-color: rgba(200, 200, 200, 0.8);
  top: -195px;
  position: relative;
  border-top: solid thin #CACACA;
}
.notes-item {
  background-color: #fafafa;
  display: block;
  height: 100px;
  width: 250px;
  border: solid thin #BDBDBD;
  margin: 0 5px 0 0;
}
.notes-scroll {
  /*background-color: rgba(255, 178, 178, 0.47);*/
  height: 100px;
  overflow-y: hidden;
  overflow-x: hidden;
  display: -webkit-box;
}
.notes-toLeft,
.notes-toRight {
  background-color: rgba(0, 255, 255, 0.29);
  position: absolute;
  height: 100px;
  width: 20px;
}
.notes-toLeft {
  left: 13px;
}
.notes-toRight {
  right: 13px;
}
.note-title {
  font-weight: bold;
  color: #797979;
}
.note-date {
  font-size: xx-small;
  color: #7E7E7E;
  float:left;
}
.note-results {
  font-size: xx-small;
  color: #7E7E7E;
  float: right;
}
.note-head {
  display: inline-block;
  width: 100%;
  background: #EEEEEE;
  padding: 4px;
}
.note-body {
  display: inline-flex;
}
.note-data {
  display: inline-block;
  background-color: white;
  width: 90%;
  border-right: 1px solid #FFE1EB;
  margin-right: 3px;
}
.note-content {

}
.note-subcontent {
  font-size: smaller;
  font-style: italic;
}
.note-controls {
  background: white;
  display: inline-block;
  text-align: center;
  width: 10%;
  border-left: 1px solid #FFE1EB;
}
.note-trash {
  color: #AB3434;
}
.note-print {
  /*7D96A7*/
  color: #2F96DA;
}
.note-print.note-print-false {
  /*7D96A7*/
  color: #2F96DA;
}

.user-data-top {
  color: #8C8C8C;
  padding: 9px;
}

/*
* OVERWRITED STYLES
*/
.tabs-left .nav-tabs > li.active > a {
    top: -2px !important;
}

.jarviswidget-color-blueLight>header {
    border-color: #a0aeb3!important;
    background: #F1F2F3;
    color: #000;
}

.smart-style-2 #header {
  /*background-image: none!important;*/
  /*background-color: #626365 ;*/
}
#header > :first-child {
    width: auto;
}

#logo {
    display: inline-block;
    margin-top: 0px;
    margin-left: 9px;
    width: auto!important;
}

#logo img {
    width: auto!important;
    height: 75px;
    padding: 4px 0 0 3px;
}

aside {
    margin-top: 10px!important;
}

.ajax-dropdown {
  left: auto;
  right: 12px;
}

.ajax-dropdown:after {
  right: 42px;
  left:auto;
  margin-left: -7px;
}
.ajax-dropdown:before {
  right: 41px;
  left:auto;
  margin-left: -8px;
}

.aside-top-mod {
  top:auto!important;
  padding-top: 10px!important;
}

@media (min-width: 768px){
  .user-data-top .dl-horizontal dd {
    margin-left: 167px;
    padding-left: 5px;
  }
}
