/*
 * It is advised not to edit the smartadmin_production.css
 * as this will override any changes you make in the
 * later versions of this theme.
 *
 * We advise that you use use this CSS to override
 * SmartAdmin styles.
 *
 * Rename the stylesheet to whatever your liking so it will stay
 * unique to you with each update of SmartAdmin.
 */


/*
 * INDEX
 *
 * - HTML
 * - BODY
 * - CUSTOM STYLES
 */


/*
* PALETTE
* GREEN BASE : #5CAA81
*/

.cns-app-logo {
  text-align: center;
}
.cns-text-footer {
  color: #92A29F;
}
.cns-app-logo img {
  max-width: 100%;
  height: auto;
  padding-top: 10px;
}
.cns-title1 {
  background-color: #F5F5F5 !important;
  color: #777777!important;
  font-weight: bold!important;
}
.cns-checkbox-list > label > input [type="checkbox"] {
  background-color: red!important;
}
#personaModal {
  padding-right: 0px!important;
}
#personaModal > .modal-dialog {
  width: auto;
  margin: 10px;
}
#mapModal {
  padding-right: 0px!important;
}
#mapModal > .modal-dialog {
  width: auto;
  margin: 10px;
}
#redModal {
  padding-right: 0px!important;
}
#redModal > .modal-dialog {
  width: auto;
  margin: 10px;
}
div:not( #jarviswidget-fullscreen-mode) > .jarviswidget > div > .widget-body > .cns-fuentes-block {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 154px;
}
#jarviswidget-fullscreen-mode > .jarviswidget > div > .widget-body > .cns-fuentes-block {
  overflow-x: hidden;
  overflow-y: hidden;
  color: red!important;
}
.txt-color-greenSuccess {
  color: #7EC751;
}
.txt-color-grayText {
  color: #A9A9A9 !important;
}

/*
* OWN BG
*/

.bg-color-blueMiranda {
  /*background-color: #616471 !important;*/
}
.txt-color-blueMiranda {
  color: #3276B1 !important;
}
.navbar-nav.bg-color-blueMiranda, .navbar-nav.bg-color-blueMiranda-alt {
  margin: -1px;
}
.navbar-nav.bg-color-blueMiranda > li, .navbar-nav.bg-color-blueMiranda-alt > li {
  padding-right: 2px;
  min-width: 190px;
}
.navbar-nav.bg-color-blueMiranda > li:first-child, .navbar-nav.bg-color-blueMiranda-alt > li:first-child {
  margin-left: 4px;
}
.navbar-nav.bg-color-blueMiranda > li a, .navbar-nav.bg-color-blueMiranda-alt > li a {
  background-color: transparent;
  color: #AFAFAF;
}
.navbar-nav.bg-color-blueMiranda > li a:hover, .navbar-nav.bg-color-blueMiranda-alt > li a:hover {
  background-color: #CACACA !important;
  color: white;
}
.navbar-nav.bg-color-blueMiranda > li a:focus, .navbar-nav.bg-color-blueMiranda-alt > li a:focus {
  background-color: #616471 !important;
}
.navbar-nav.bg-color-blueMiranda-alt > li.active a {
  background-color: #FFFFFF !important;
  color: #DA4A4A;
  border-top: solid 1px #CACACA;
  border-left: solid 1px #CACACA;
  border-right: solid 1px #CACACA;
  margin-bottom: 0px;
  padding-bottom: 19px;
  margin-top: -4px;
}
.navbar-nav.bg-color-blueMiranda > li.active a {
  background-color: #000000 !important;
  color: #FFFFFF;
}
.navbar-nav {
  float: left;
  margin-left: 0px!important;
}

/*
*
*/

.dropdown-menu-large.drop-down-dumago {
  margin-left: 0;
  margin-right: 0;
  padding: 20px 10px;
  width: 100%;
}

/*
* NOTES
*/

.notes-container {
  background-color: rgba(200, 200, 200, 0.8);
  top: -195px;
  position: relative;
  border-top: solid thin #CACACA;
}
.notes-item {
  background-color: #fafafa;
  display: block;
  height: 100px;
  width: 250px;
  border: solid thin #BDBDBD;
  margin: 0 5px 0 0;
}
.notes-scroll {
  /*background-color: rgba(255, 178, 178, 0.47);*/
  height: 100px;
  overflow-y: hidden;
  overflow-x: hidden;
  display: -webkit-box;
}
.notes-toLeft, .notes-toRight {
  background-color: rgba(0, 255, 255, 0.29);
  position: absolute;
  height: 100px;
  width: 20px;
}
.notes-toLeft {
  left: 13px;
}
.notes-toRight {
  right: 13px;
}
.note-title {
  font-weight: bold;
  color: #797979;
}
.note-date {
  font-size: xx-small;
  color: #7E7E7E;
  float: left;
}
.note-results {
  font-size: xx-small;
  color: #7E7E7E;
  float: right;
}
.note-head {
  display: inline-block;
  width: 100%;
  background: #EEEEEE;
  padding: 4px;
}
.note-body {
  display: inline-flex;
}
.note-data {
  display: inline-block;
  background-color: white;
  width: 90%;
  border-right: 1px solid #FFE1EB;
  margin-right: 3px;
}
.note-content {}
.note-subcontent {
  font-size: smaller;
  font-style: italic;
}
.note-controls {
  background: white;
  display: inline-block;
  text-align: center;
  width: 10%;
  border-left: 1px solid #FFE1EB;
}
.note-trash {
  color: #AB3434;
}
.note-print {
  /*7D96A7*/
  color: #2F96DA;
}
.note-print.note-print-false {
  color: #2F96DA;
}
.user-data-top {
  color: #8C8C8C;
  padding: 9px 0 9px 9px;
  border: dashed thin transparent;
  text-align: right;
  display: flex;
}
.user-data-left {
  font-size: xx-small;
  padding: 8px 5px 0 0;
}

/*
* OVERWRITED STYLES
*/

.tabs-left .nav-tabs > li.active > a {
  top: -2px !important;
  box-shadow: -2px 0 0 #929292;
  background-color: #FFFFFF;
}
.jarviswidget-color-blueLight>header {
  border-color: #a0aeb3!important;
  background: #F1F2F3;
  color: #000;
}
.smart-style-0-alt {
  background-image: none;
  background-color: #FFFFFF;
}
.smart-style-0 .cns-header {
  background-color: white;
}
.smart-style-0 #header {
  display: block;
  height: 49px;
  margin: 0;
  padding: 0 13px 0 0;
  background-color: #f3f3f3;
  background-image: -moz-linear-gradient(top, #F1F1F1, #F2F2F2);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F1F1F1), to(#F2F2F2));
  background-image: -webkit-linear-gradient(top, #F1F1F1, #F2F2F2);
  background-image: -o-linear-gradient(top, #F1F1F1, #F2F2F2);
  background-image: linear-gradient(to bottom, #F1F1F1, #F2F2F2);
  background-repeat: repeat-x;
  position: relative;
  z-index: 905;
  border: solid thin #C3C3C3;
}
#header >:first-child {
  width: auto;
}
#logo {
  display: inline-block;
  margin-top: 0px;
  margin-left: 9px;
  width: auto!important;
}
#logo img {
  width: auto!important;
  height: 75px;
  padding: 4px 0 0 3px;
}
.smart-style-0:not( .minified) aside {
  margin-top: 10px!important;
  background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJo…oZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==");
  background: -moz-linear-gradient(left, #fafafa 97%, #fafafa 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(97%, #fafafa), color-stop(100%, #fafafa));
  background: -webkit-linear-gradient(left, #fafafa 97%, #fafafa 100%);
  background: -o-linear-gradient(left, #fafafa 97%, #fafafa 100%);
  background: -ms-linear-gradient(left, #fafafa 97%, #fafafa 100%);
  background: linear-gradient(to right, #fafafa 97%, #fafafa 100%);
}
.smart-style-0.minified aside {
  margin-top: 10px!important;
}
.ajax-dropdown {
  left: auto;
  right: 12px;
}
.ajax-dropdown:after {
  right: 42px;
  left: auto;
  margin-left: -7px;
}
.ajax-dropdown:before {
  right: 41px;
  left: auto;
  margin-left: -8px;
}
.aside-top-mod {
  top: auto!important;
  padding-top: 10px;
  border-width: 1px 1px 0 0;
  border-style: solid;
  border-color: #DDDDDD;
}

/* LIST NAV */

nav >ul> li> a:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #D0D0D0;
}
nav ul li a:focus {
  /*color: #676767;*/
}

/* First level: A, Second level: LI Open */

nav ul li a {
  color: #676767;
}
nav ul li.open > a, nav ul li.open > a b {
  color: #676767;
}

/* First level: Icon */

nav > ul > li > a b {
  position: absolute !important;
  right: 10px;
  top: 10px;
}
nav > ul > li > a > i {
  /*font-size: 121%; fa-lg overrides this so..  */
  margin-right: 5px;
  width: 15px;
  display: inline-block;
  text-align: center;
  position: relative;
}

/* First level icon */

nav > ul > li > a > i > em {
  font-size: 9px;
  display: block;
  padding: 2px;
  position: absolute;
  top: -8px;
  right: -6px;
  text-decoration: none;
  font-style: normal;
  background: #d10079;
  color: #ffffff;
  min-width: 13px;
  border-radius: 50%;
  max-height: 13px;
  line-height: 8px;
  font-weight: bold;
  vertical-align: baseline;
  white-space: nowrap;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

/* Second level switched to relative */

nav ul li li {
  border-bottom: none;
  position: relative;
}

/* Second level: UL */

nav > ul > li > ul::before {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  left: 23px;
  top: 0;
  bottom: 0;
  border-left: 1px solid #7A7A7A;
}

/* Second level: UL LI */

nav > ul ul li::before {
  content: "";
  display: block;
  position: absolute;
  width: 8px;
  left: 23px;
  top: 16px;
  border-top: 1px solid #7A7A7A;
  z-index: 1;
}

/* Third level: UL LI */

nav > ul ul ul li::before {
  content: "";
  display: block;
  position: absolute;
  width: 18px;
  left: 10px;
  top: 17px;
  border-top: 1px solid transparent;
}

/* Second level and onwards > */

nav > ul ul li a i {
  font-size: 14px !important;
  width: 18px !important;
  text-align: center !important;
  vertical-align: 0 !important;
  line-height: 1 !important;
}

/* Second and Third level line color */

nav > ul > li:hover > ul::before, nav > ul > li:hover > ul > li::before {
  border-color: #ACACAC !important;
}

/* Second Level: UL */

nav ul ul {
  margin: 0;
  padding: 0;
  display: none;
  /*background: rgba(69, 69, 69, 0.05);*/
  background: #FFFFFF;
}
nav ul ul {
  padding: 7px 0;
}

/* Third Level: UL */

nav ul ul ul {
  background: transparent;
  padding: 0;
}

/* Third Level: LI */

nav ul ul li {
  margin: 0;
  padding: 0;
}

/* Second Level: A */

nav ul ul li > a {
  padding-left: 42px;
  font-size: 14px;
  font-weight: normal;
  outline: 0;
}

/* Second Level: A:hover */

nav ul ul li > a:hover {
  background-color: rgba(69, 69, 69, 0.8);
  color: #ffffff;
}

/* Third Level: A */

nav ul ul ul li a {
  color: #909090;
  padding: 8px 10px 8px 60px;
  font-size: 14px;
}

/* Third Level: A:hover */

nav ul ul ul li a:hover {
  color: #ffffff;
}

/* Fourth Level: A */

nav ul ul ul ul li a {
  padding-left: 80px;
}

/* Fifth Level: A */

nav ul ul ul ul ul li a {
  padding-left: 100px;
}

/* Sixth Level: A */

nav ul ul ul ul ul ul li a {
  padding-left: 120px;
}

/* Second level: B */

nav ul ul b {
  color: #B3B3B3;
}

/* Second level: LI:hover B */

nav ul ul > li:hover b {
  color: #D5D9E2;
}
.smart-style-0.minified nav > ul > li > ul, .smart-style-0.minified nav > ul > li > ul > li, .smart-style-0.minified nav > ul > li > ul > li > ul > li {
  background: #fff !important;
}
.smart-style-0 .aside-top-mod {
  top: 0;
}
.smart-style-0 #left-panel {
  padding-top: 0;
}

/*end LIST NAV */


/* pantalla detalle */

.profile-pic > img {
  border-radius: 0%;
  position: relative;
  border: 5px solid #ffffff;
  top: 0px;
  left: 10px;
  display: inline-block;
  text-align: right;
  z-index: 4;
  max-width: 100px;
  margin-bottom: 0px;
}

/* end pantalla detalle */

.smart-form .col {
  padding-left: 5px;
  padding-right: 5px;
}
.smart-form section {
  margin-bottom: 10px;
  position: relative;
}
.tabs-left > .nav-tabs > li > a {
  margin-right: -1px;
  background-color: #F8F7F7;
  border-right: solid thin #D5D5D5;
}
.nav-tabs>li {
  margin-bottom: -3px;
}
.masonry-cards > div {
  /*border: dashed thin blue;*/
  padding: 5px;
  margin: 0!important;
}
.masonry-cards .masonry-card {
  background-color: rgb(245, 245, 245);
  border: solid thin #E4E4E4;
  padding: 5px;
  margin: 0!important;
}
.masonry-card h3,
.masonry-card .top-data {
  display: inline-block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.masonry-cards .mugshot {
  height: 150px;
  background-size: cover;
  background-position: 50% 50%;
  border: solid 2px white;
}
.bottom-button {
  position: absolute;
  bottom: 5px;
  right: 5px;
}
.bottom-button:hover {
  cursor: pointer;
}
.bottom-button:hover .triangle-bottomright {
  border-bottom: 30px solid #a7233a;
  border-left: 30px solid transparent;
}
.bottom-button:hover .rectangle-bottomright {
  background-color: #a7233a;
  color: rgba(255, 255, 255, 1);
}
.triangle-bottomright {
  width: 0;
  height: 0;
  border-bottom: 30px solid #C01735;
  border-left: 30px solid transparent;
  float: left;
}
.rectangle-bottomright {
  width: 30px;
  height: 30px;
  background-color: #C01735;
  float: left;
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  padding-top: 7px;
}
.rectangle-bottomright > i {
  font-size: 15px;
}

/*---- Genral classes end -------*/

/*Change icons size here*/
.social-icons .fa {
	font-size: 1.8em;
}
/*Change icons circle size and color here*/
.social-icons .fa {
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: #FFF;
	color: rgba(255, 255, 255, 0.8);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.social-icons.icon-circle .fa{
	border-radius: 50%;
}
.social-icons.icon-rounded .fa{
	border-radius:5px;
}
.social-icons.icon-flat .fa{
	border-radius: 0;
}

.social-icons .fa:hover, .social-icons .fa:active {
	color: #FFF;
	-webkit-box-shadow: 1px 1px 3px #333;
	-moz-box-shadow: 1px 1px 3px #333;
	box-shadow: 1px 1px 3px #333;
}
.social-icons.icon-zoom .fa:hover, .social-icons.icon-zoom .fa:active {
 	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}
.social-icons.icon-rotate .fa:hover, .social-icons.icon-rotate .fa:active {
	-webkit-transform: scale(1.1) rotate(360deg);
	-moz-transform: scale(1.1) rotate(360deg);
	-ms-transform: scale(1.1) rotate(360deg);
	-o-transform: scale(1.1) rotate(360deg);
	transform: scale(1.1) rotate(360deg);
}

.social-icons .fa-adn{background-color:#504e54;}
.social-icons .fa-apple{background-color:#aeb5c5;}
.social-icons .fa-android{background-color:#A5C63B;}
.social-icons .fa-bitbucket,.social-icons .fa-bitbucket-square{background-color:#003366;}
.social-icons .fa-bitcoin,.social-icons .fa-btc{background-color:#F7931A;}
.social-icons .fa-css3{background-color:#1572B7;}
.social-icons .fa-dribbble{background-color:#F46899;}
.social-icons .fa-dropbox{background-color:#018BD3;}
.social-icons .fa-facebook,.social-icons .fa-facebook-square{background-color:#3C599F;}
.social-icons .fa-flickr{background-color:#FF0084;}
.social-icons .fa-foursquare{background-color:#0086BE;}
.social-icons .fa-github,.social-icons .fa-github-alt,.social-icons .fa-github-square{background-color:#070709;}
.social-icons .fa-google-plus,.social-icons .fa-google-plus-square{background-color:#CF3D2E;}
.social-icons .fa-html5{background-color:#E54D26;}
.social-icons .fa-instagram{background-color:#A1755C;}
.social-icons .fa-linkedin,.social-icons .fa-linkedin-square{background-color:#0085AE;}
.social-icons .fa-linux{background-color:#FBC002;color:#333;}
.social-icons .fa-maxcdn{background-color:#F6AE1C;}
.social-icons .fa-pagelines{background-color:#241E20;color:#3984EA;}
.social-icons .fa-pinterest,.social-icons .fa-pinterest-square{background-color:#CC2127;}
.social-icons .fa-renren{background-color:#025DAC;}
.social-icons .fa-skype{background-color:#01AEF2;}
.social-icons .fa-stack-exchange{background-color:#245590;}
.social-icons .fa-stack-overflow{background-color:#FF7300;}
.social-icons .fa-trello{background-color:#265A7F;}
.social-icons .fa-tumblr,.social-icons .fa-tumblr-square{background-color:#314E6C;}
.social-icons .fa-twitter,.social-icons .fa-twitter-square{background-color:#32CCFE;}
.social-icons .fa-vimeo-square{background-color:#229ACC;}
.social-icons .fa-vk{background-color:#375474;}
.social-icons .fa-weibo{background-color:#D72B2B;}
.social-icons .fa-windows{background-color:#12B6F3;}
.social-icons .fa-xing,.social-icons .fa-xing-square{background-color:#00555C;} 
.social-icons .fa-youtube,.social-icons .fa-youtube-play,.social-icons .fa-youtube-square{background-color:#C52F30;}
